.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-item {
  border: 1px solid rgba(128, 128, 128, 0.49);
  background-color: none;
  flex-basis: 45%;
  flex-grow: 1;
}

@media screen and (max-width: 770px) {
  .flex-item {
    flex-basis: 90%;
    flex-grow: 1;
    /* height: 30vw; */
  }
}

.image_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 40vw;
}

.image_wrapper h1 {
  margin: 0px;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
